<app-menu></app-menu>

<div class="container">   
  <div class="col-md-4 text-center button-div"> 
    <a routerLink="./showid"><button id="showidbutton" name="singlebutton" class="btn btn-info button">Show ID Card</button></a> 
  </div> 
  <div class="col-md-4 text-center button-div">
    <a routerLink="./showhc"><button id="showhcbutton" name="singlebutton" class="btn btn-info button">Show Health Card</button> </a>
  </div> 
  <div class="col-md-4 text-center button-div"> 
    <a routerLink="./addhc"><button id="addhcbutton" name="singlebutton" class="btn btn-info button">Add Health Card</button> </a>
  </div>
  <br>
</div>

