.jumbotron{
    height:auto;
}

.invalid-upload{
    font-size: 83%;
    color: #dc3545;
}

.toast-bootstrap-compatibility-fix {
    opacity:1;
  }

.form-group{
    color:black;
}

.Submission{
    color:rgb(88, 197, 15);
    font-size:200%;
    font-family: Serif;
}  
