<app-menu></app-menu>

  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3 >Issuing Temporary ID</h3>
              <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                
                <div class="form-group">
                    <label>Employee ID</label>
                    <input type="text" formControlName="eno" class="form-control" [ngClass]="{ 'is-invalid': (submitted && f.eno.errors) || doc }" />
                    <div *ngIf="submitted && f.eno.errors" class="invalid-feedback">
                        <div *ngIf="f.eno.errors.required">Associate id is required</div>
                    </div>
                    <div *ngIf="doc" class="invalid-feedback">
                        <div *ngIf="doc">This Employee Doesnot Exist.</div>
                    </div>
                </div>
                <div class="form-group">
                  <label>Temporary ID</label>
                  <input type="text" formControlName="tno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tno.errors }" />
                  <div *ngIf="submitted && f.tno.errors" class="invalid-feedback">
                      <div *ngIf="f.tno.errors.required">Temporary id is required</div>
                  </div>
              </div>
                  

                <div class="form-group">
                    <button class="btn btn-primary" >Submit</button>
                    <div *ngIf="flag" class="Submission">
                        <p>Updated Succesfully</p>
                    </div>
                </div>
              </form>
            </div>
      </div>
  </div>
