<app-menu></app-menu>

<div class="jumbotron border border-dark" style="width:300px; height:auto; margin-left:34px; margin-top: 20px; margin-bottom:0px; background-color: white">
  <img src="https://lh3.googleusercontent.com/-KImCGybc4R8/VTfuEq3rLtI/AAAAAAAAARs/bickvG0JLic/seneca-global_logo_Big.png" class="img-responsive" alt="logo" width="80%" height="25%" style="margin-left:10%;"> 
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
            <style>
                img {
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  margin-top: 2%;
                }
                </style>
            <img style=" width: 80%; height: auto" src="{{associate?.imagesrc}}" class="img-fluid" >
            <div class="text-center" style="margin-top:30px">
            <h3 >{{associate?.firstName + " "+ associate?.lastName}}</h3>  
       <h6 >ASSOCIATE ID: {{associate?.eid}}</h6>
       <h6 >BLOOD GROUP: {{associate?.bgroup}}</h6>
            </div>
      </div>
    </div>
  </div>
  <div class="address" style="margin-top:0%;background-color:rgb(223, 113, 50);height: 90px">
    <div class="col-12">
      
        <div style="line-height:15px">
            <span class="text-center">
     <b style="font-size: small; margin-left:3%; line-height: 0.5px"> SENECAGLOBAL IT SERVICES PVT.LTD.<br></b>
     <span style="font-size:x-small; margin-left:4%">7TH FLOOR, WESTERN PEARL, SURVEY NUMBER 13<br></span>
     <span style="font-size:x-small; margin-left:2%">KONDAPUR, HYDERABAD 500084, TELANGANA, INDIA<br></span>
     <span style="font-size:x-small; margin-left:15%"><b>O </b>+91.40.66073500 <b> F </b>+91.40.66073535<br></span>
     <span style="font-size:x-small; margin-left:25%">WWW.SENECAGLOBAL.COM<br></span>
    </span>
    </div>
    
    </div>
  </div>
</div>

