<img src="../assets/senecaglobal.png" class="img-responsive" alt="logo" width="100%" height="30%"> 
 <div class="container">   
  <div class="col-md-4 text-center button-div"> 
    <a routerLink="admin"><button id="adminbutton" name="singlebutton" class="btn btn-info button">Admin</button></a> 
  </div> 
  <div class="col-md-4 text-center button-div"> 
    <a routerLink="associate"><button id="associatebutton" name="singlebutton" class="btn btn-info button">Associate</button> </a>
  </div> 
  <div class="col-md-4 text-center button-div"> 
    <a routerLink="security"><button id="securitybutton" name="singlebutton" class="btn btn-info button">Security</button> </a>
  </div> 
</div>
  

